
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #f0e8c8;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #111111;
    text-align: center;
    padding: 40px 20px;
    border-bottom: 2px solid #c9a84c;
}



header h1 {
    color: #c9a84c;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    color: #888;
    font-size: 1rem;
}

nav {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    border-bottom: 1px solid #2a2a2a;
}

nav div {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: #c9a84c;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
}

nav a:hover {
    text-decoration: underline;
}

.btn-login {
    border: 1px solid #c9a84c;
    padding: 8px 18px;
    border-radius: 6px;
}

.btn-cadastro {
    background-color: #c9a84c;
    color: #000 !important;
    padding: 8px 18px;
    border-radius: 6px;
}

.btn-cadastro:hover {
    opacity: 0.85;
    text-decoration: none !important;
}

section {
    background-color: #1a1a1a;
    margin: 20px auto;
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}

section h2 {
    color: #c9a84c;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

section h3 {
    color: #e8c97a;
    margin-bottom: 10px;
}

section p {
    color: #aaa;
    line-height: 1.7;
    margin-bottom: 10px;
}

section ul {
    list-style: disc;
    padding-left: 20px;
    color: #aaa;
}

section ul li {
    margin-bottom: 6px;
}

#produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#produtos h2 {
    margin-bottom: 0;
}

article {
    background-color: #222222;
    border: 1px solid #c9a84c;
    border-radius: 10px;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #111111;
    color: #555;
    padding: 20px;
    margin-top: 30px;
    border-top: 1px solid #2a2a2a;
}